<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.mapper.StudentMapper">

	<!-- sql片段 -->
	<sql id="mymysql01">
		sid,sname,borndate
	</sql>
	<select id="showAll" resultType="student">
		select
		sid,sname,borndate
		from student
	</select>




	<update id="updateStudent" parameterType="student">
		update student
		<!-- <set> <if test="sname!=null"> sname=#{sname}, </if> <if test="borndate!=null"> 
			borndate=#{borndate} </if> </set> -->

		<trim prefix="set" suffixOverrides=",">
			<if test="sname!=null">
				sname=#{sname},
			</if>
			<if test="borndate!=null">
				borndate=#{borndate},
			</if>

		</trim>
		where sid=#{sid}
	</update>


	


</mapper>